Hi


    <form action="/wait_time" >
      <label for="airport_code">Airport Code</label>
      <input id="airport_code" type="text" name="airport_code" placeholder="Enter an airport code..." value="<%= @airport_code%>">

      <button>Enter code</button>
    </form>
