<h1> Time Flies! </h1>

Driving times and security line wait times shown together! 


    <form action="/wait_time" >
      <label for="airport_code">Airport Code</label>
      <input id="airport_code" type="text" name="airport_code" placeholder="Enter an airport code...">

      <label for="location">Current Location</label>
      <input id="location" type="text" name="location" placeholder="Enter your location...">

      
      
      <button>Enter details</button>
    </form>
